/* md */
@media screen and (min-width: 768px) {
    html {
        font-size: 14px;
    }

    .md-col-1-3 {
        flex-basis: calc(100% / 3);
        padding: var(--spacer-col);
    }
    .md-col-2-3 {
        flex-basis: calc(100% / 3 * 2);
        padding: var(--spacer-col);
    }
    .md-col-1-2 {
        flex-basis: calc(100% / 2);
        padding: var(--spacer-col);
    }
    .started{
        flex-direction: column;
        align-items: center;
    }

    .md-50{
        width: 50%;
        margin: auto;
        text-align: center;
    }

    .row.bp-phone {
        flex-direction: column;
    }
}

/* lg */
@media screen and (min-width: 920px) {
    html {
        font-size: 16px;
    }
    .container{
        max-width: 920px;
    }

    .lg-col-1-2 {
        flex-basis: calc(100% / 2);
        padding: var(--spacer-col);
    }

    .lg-col-1-3 {
        flex-basis: calc(100% / 3);
        padding: var(--spacer-col);
    }

    .lg-col-1-4 {
        flex-basis: calc(100% /4);
        padding: var(--spacer-col);
    }

    .lg-col-3-4 {
        flex-basis: calc(100% /4 *3);
        padding: var(--spacer-col);
    }
    
    .md-50{
        width: 50%;
        margin: auto;
        text-align: center;
    }

    .menu{
        display: block;
    }
}