* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0084fd;
    --primary-color-light: rgb(181, 221, 255);
    --secondary-color:rgb(150, 145, 227);
    --tertiary-color: rgb(51, 51, 51);
    --spacer:1rem;
    --spacer-col: .5rem 1rem;
}
/*************************************************
    GENERAL STYLES
 *************************************************/
body {
    font-family: 'Roboto', sans-serif;;
}

html {
    font-size: 14px;
}

img {
    width: 100%;
    display: block;
    padding-bottom: 1rem;
}

button {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-color);
    padding: .5rem 1rem;
    display: inline-block;
    cursor: pointer;
    margin-bottom: var(--spacer);
}
section,footer {
    padding: var(--spacer);
}

h1 {
    font-size: 5rem;
    color: rgb(253, 193, 95);
    padding-bottom: var(--spacer);
}

h2 {
    font-size: 2rem;
    padding-bottom: var(--spacer);
    color: var(--secondary-color);
} 

h3 {
    font-size: 1.5rem;
    padding-bottom: var(--spacer);
}

h4 {
    font-size: 1rem;
    padding-bottom: var(--spacer);
    color: var(--primary-color);
}
p{
    padding-bottom: var(--spacer);
}

/*************************************************
    UTILITIES
 *************************************************/
 .row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    margin: auto;
    padding: 1rem;
}

.card {
    background-color: var(--primary-color-light);
    border-radius: 10px;
    padding: var(--spacer);
}

.col {
    width: 100%;
    padding: .5rem 0rem;
}

.col-1-2 {
    flex-basis: calc(100% / 2);
}
.col-1-3 {
    flex-basis: calc(100% / 3);
}
.col-2-3 {
    flex-basis: calc(100% / 3 *2);
}

.col-1-4 {
    flex-basis: calc(100% /4);
}
.col-3-4 {
    flex-basis: calc(100% /4 *3);
}

.bg-secondary {
    background-color: var(--secondary-color);
    color: white;
}

.developer p,.benefits p{
    color: black;
    font-style: italic;
    /* sistemare font... */
}

.bt-secondary {
    background-color: var(--secondary-color);
}


/*************************************************
   SECTIONS
 *************************************************/


/* navbar */
.container-menu {
    position: relative;
}

.menu {
    display: none;
    
}
 
ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    padding: 0 .5rem;
}

.logo{
    width: 50%;
}

header nav {
    
    background-color: var(--primary-color);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
}

nav .container.row{
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.bt-nav{
    padding: 0 .5rem;
    margin-bottom: 0;
}

/* card section  */
.container.cards {
     margin-top: calc(60px + 1rem);
}

.container.cards .card {
    overflow: hidden;
    height: 50vh;
}

.pb-phone{
    padding-bottom: 0;
}

.phone-container {
    overflow: hidden;
}

.phone {
    width: 70%;
    align-self: flex-end;
    margin-bottom: -1rem;
}
.cards .md-col-1-3{
    text-align: center;
}

.fa-file-code,.fa-compass-drafting,.fa-laptop-code,.fa-bullhorn{
    font-size: 5rem;
    color: var(--primary-color);
    padding-bottom: var(--spacer);
}

/* strategic section */
.developer {
    align-self: flex-end;   
}

.developer .card {
    background-color: white;
    text-align: center;
}


.fa-arrow-down{
    background-color: var(--secondary-color);
    padding: .5rem .7rem;
    border-radius: 50%;
    color: black;
}

/* testimonials section */
.testimonials-center {
    text-align: center;
    padding-bottom: var(--spacer);
}

main section .testimonial.card{
    background-color: var(--secondary-color);
    margin-bottom: var(--spacer);
    color: white;
    align-items: center;
}

.circle-img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    padding-bottom: var(--spacer);
}

.name-test{
    padding: 2rem 0;
}

.testimonial-img-container{
    padding: 1rem 4rem;
}


/* benefits section */
.benefits .card{
    background-color: white;
}

.numer-card{
    font-size: 5rem;
}

.benefits h4 {
    color: var(--secondary-color)
}

/* about section */
.bold-font-size {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondary-color);
    padding-bottom: var(--spacer);
}

/* Started section*/
.bt-white{
    background-color: white;
    color: var(--secondary-color);
}
#get-started{
    text-align: center;
}

.pb1{
    padding-bottom: var(--spacer);
}
#a-underline{
    text-decoration: underline;
}

/* footer section */
.bg-tertiary{
    background-color: var(--tertiary-color);
    color: white;
}
